<div class="selfContainer">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <img class="align-self-center mr-3" src="assets/images/xiufengcheng.jpg" width="200" alt="">
            </div>
            <div class="col-sm">

            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title font-weight-bold">【简介】</h5>
            <p class="card-text">程秀峰，男，生于1981年11月生，湖北浠水人，华中师范大学信息管理学院副教授，硕士生导师，先后在华中师范大学计算机科学系，美国威斯康星大学计算机系，华中师范大学信息管理学院获得计算机学士、软件工程硕士、情报学博士学位，师从夏立新导师。
            </p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title font-weight-bold">【研究方向】</h5>
            <p class="card-text">
                主要研究方向为：信息组织与检索，大数据分析及应用。
            </p>
        </div>
    </div>
    <div class="card">
        <div class="card-header font-weight-bold">
            【教育经历】
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"> 1. 2000年9月-2004年7月，就读于华中师范大学计算机系计算机科学与技术专业</li>
            <li class="list-group-item"> 2. 2005年9月-2007年7月，就读于威斯康星大学计算机系软件工程专业</li>
            <li class="list-group-item"> 3. 2010年9月-2013年7月，就读于华中师范大学信息管理学院情报学专业</li>
        </ul>
    </div>
    <div class="card">
        <div class="card-header font-weight-bold">
            【研究项目】
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"> 1. 主持国家自然科学基金委青年科学基金项目“基于QSIM的图书馆移动用户群体行为模拟与学习兴趣引导研究”。</li>
            <li class="list-group-item"> 2. 主持教育部人文社会科学研究青年基金项目“移动环境下图书馆用户行为发现与知识推荐研究”。</li>
            <li class="list-group-item"> 3. 主持校级丹桂、自由探索、信息化、教育大数据等项目多项。</li>
            <li class="list-group-item"> 4. 参与国家社会科学基金重点项目“基于语义的馆藏资源深度聚合与可视化展示研究”。</li>
            <li class="list-group-item"> 5. 参与国家社会科学基金重大项目“基于多维度聚合的网络资源知识发现研究”；</li>
        </ul>
    </div>
    <div class="card">
        <div class="card-header font-weight-bold">
            【论文发表】
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">1. 基于分布式的直方图检索方法研究及实现，《现代图书情报技术》，2011.5 (CSSCI)</li>
            <li class="list-group-item">2. 基于电子政务平台查询关键词共现多维可视化研究，《情报学报》，2012.4，(CSSCI)</li>
            <li class="list-group-item">3. 基于词词关联矩阵改进的模糊检索研究，《情报学报》，2013.3，(CSSCI)</li>
            <li class="list-group-item">4. 基于语义的馆藏资源深度聚合方法研究，《情报科学》，2013.11， (CSSCI)</li>
            <li class="list-group-item">5. 基于关联规则的高校图书馆微博关注趋势分析，《图书情报工作》，2014.4 (CSSCI)</li>
            <li class="list-group-item">6. 移动用户信息行为研究进展，《图书情报工作》，2015.4 ，(CSSCI)</li>
            <li class="list-group-item">7. 高校图书馆微博知识推荐区域比较及可视化研究，《情报科学》，2016.1，(CSSCI)</li>
            <li class="list-group-item">8. 基于SNA的舞蹈类非物质文化遗产隐性知识关联研究，《图书情报工作》，2016.1，(CSSCI)</li>
            <li class="list-group-item">9. 异质网络资源多维度推荐模式研究，《图书情报工作》，2017.2，(CSSCI)</li>
            <li class="list-group-item">10. 基于FRUTAI算法的布尔型移动在线学习资源协同推荐研究，《图书情报工作》，2017.2，(CSSCI)</li>
            <li class="list-group-item">11. 基于情境感知技术的移动数据自动采集系统设计与实现，《知识分析与知识发现》，2017.5, (CSSCI)</li>
        </ul>
    </div>
    <div class="card">
        <div class="card-header font-weight-bold">
            【出版著作】
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">1. 程秀峰,基于用户行为的图书馆数字资源语义聚合研究.武汉:武汉理工大学出版社，2015.</li>
            <li class="list-group-item">2. 严莉，程秀峰等, Java面向对象程序设计实验教程.武汉:华中师范大学出版社，2015.</li>
        </ul>
    </div>
    <div class="card">
        <div class="card-header font-weight-bold">
            【软件著作权】
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">1. 日志查询词相似度矩阵生成软件2011SR063195</li>
            <li class="list-group-item">2. 日志查询词提取软件。2011SR063194</li>
            <li class="list-group-item">3. 日志查询词相似度矩阵距离转换软件，2011SR063139</li>
            <li class="list-group-item">4. 非物质文化遗产资源语义标注系统，2017SR668825</li>
            <li class="list-group-item">5. 基于OAuth2协议的校园统一身份认证与应用管理系统，2016SR181572</li>
            <li class="list-group-item">6. 中国饮茶文化信息组织与展示系统，2017SR726131</li>
            <li class="list-group-item">7. 基于情景感知的异动行为数据采集系统，2017SR672824</li>
        </ul>
    </div>
</div>
