<!--The content below is only a placeholder and can be replaced.-->
<div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" routerLink="self_info" (click)="onBavClick(0)">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" [class.active]="index == 1" (click)="onBavClick(1)">
                    <a class="nav-link" routerLink="class_teach/ben">课程教学 <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" [class.active]="index == 2" (click)="onBavClick(2)">
                    <a class="nav-link" routerLink="research">科研教学 <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" [class.active]="index == 3" (click)="onBavClick(3)">
                    <a class="nav-link" routerLink="easy_life">休闲生活 <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>
    <router-outlet></router-outlet>
</div>

